[Desktop Entry]
Categories=Network;Messaging;
Comment=WhatsApp for Linux
Exec=/opt/whatsApp/whatsApp
GenericName=WhatsApp
Icon=/opt/whatsApp/resources/app/icon.png
Name=WhatsApp
StartupNotify=true
Terminal=false
Type=Application
